<div id="nav-wrapper" class="container-fluid">
	<!-- Nav -->
	<nav id="nav" class="container-fluid">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li>
				<a class="header__logo" href="{{ '/' | relative_url }}">
				<!-- <div class="header__logo--container"> -->
				  {% include logoiibicirt.svg %}
				<!-- </div> -->
			  </a>
			</li>
			<li {% if current[1] == 'personal.html' %}class='current'{% endif %} class="secc"><a href="/sitio_iibicrit/personal">Personal</a></li>
			<li {% if current[1] == 'incipit' %}class='current'{% endif %} class="secc"><a href="/sitio_iibicrit/incipit">Incipit</a></li>
			<li {% if current[1] == 'investigacion' %}class='current'{% endif %} class="secc"><a href="/sitio_iibicrit/proyectos_vinculaciones">Investigación</a></li>
			<li {% if current[1] == 'right-sidebar.html' %}class='current'{% endif %} class="secc"><a href="/sitio_iibicrit/publicaciones">Publicaciones</a></li>
			<li {% if current[1] == 'no-sidebar.html' %}class='current'{% endif %} class="secc"><a href="/sitio_iibicrit/no-sidebar.html">Laboratorios</a></li>
		</ul>
	</nav>
</div>
