<div id="nav-wrapper" class="container-fluid">
	<!-- Nav -->
	<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li {% if current[1] == 'index' %}class='current'{% endif %}><a href="/sitio_iibicrit/">Inicio</a></li>
			<li {% if current[1] == 'personal' %}class='current'{% endif %}><a href="/sitio_iibicrit/personal">Personal</a></li>
			<li {% if current[1] == 'incipit' %}class='current'{% endif %}><a href="/sitio_iibicrit/incipit">Incipit</a></li>
			<li {% if current[1] == 'proyectos' %}class='current'{% endif %}><a href="/sitio_iibicrit/proyectos">Proyectos</a></li>
			<li {% if current[1] == 'right-sidebar.html' %}class='current'{% endif %}><a href="/sitio_iibicrit/publicaciones">Publicaciones</a></li>
			<li {% if current[1] == 'no-sidebar.html' %}class='current'{% endif %}><a href="/sitio_iibicrit/no-sidebar.html">Investigación</a></li>
		</ul>
	</nav>
</div>